button:focus {outline:0;}
button:focus {outline:0;}

*{
    font-family: monospace;
    color: whitesmoke;
    background-color: #282828;
    font-size: 20px;
}

h1 {
    color: #abd4d6;
}

p {
    color: #2fed74;
}

button {
    font-size: 20px;
    margin: 0 auto;
    display: block;
    position: relative;
}

#clickerbutton {
    font-size: 80px;
    background-image: url("bilder/button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#clickerbutton:active {
    background-image: url("bilder/buttonactive.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#coins {
    height: 100px;
    width: 300px;
    font-size: 20px;
    background-image: url("bilder/mariocoin.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}

#rupees {
    height: 100px;
    width: 300px;
    font-size: 20px;
    background-image: url("bilder/rupee.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}

#V-bucks {
    height: 100px;
    width: 300px;
    font-size: 20px;
    background-image: url("bilder/vbucks.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}

#robux {
    height: 100px;
    width: 300px;
    font-size: 20px;
    background-image: url("bilder/robux.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70px;
}

#score {
    text-align: center;
}

.top {
    border-bottom: 1px solid black;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu li {
    display: inline;
    font-size: 32px;
    text-align: center;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    border-bottom: 2px solid grey;
}

article {
    height: 10vh;
}

#clickerbutton {
    height: 300px;
    width: 300px;
    font-size: 200px;
    /*border-radius: 200px;*/
    background-image: url("bilder/button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#clickerbutton:active {
    color: #1543d8;
    outline:0px;
}

#clickebutton:focus {
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#manypoints{
    animation: 1s linear infinite rgbtext;
}

#buy{
    
    top: 0px;
    right: 0px;
    width: 20%;
    margin-left: 80%;
    height: 100%;
    
}

@keyframes rgbtext {
    00% {
        color: red;
    }
    25% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
    
}